.callback {
  position: absolute;
  left: 96%;
  top: 92%;
  position: fixed;
}
.text_all {
  position: relative;
  left: 200px;
  top: 50px;
}
.text_all2 {
  position: relative;
  left: 360px;
  top: 200px;
}
.text_all2 .text11 {
  font-weight: bold;
}
.max-width-100 {
  max-width: 100%;
}
.width-100 {
  width: 100%;
}
.width-40px {
  width: 250px;
}
.width-img-attention {
  width: 10px;
}
.height-40px {
  height: 40px;
}
.height-70px {
  height: 70px;
}
.border-box {
  box-sizing: border-box;
}
.padding-top-20px {
  padding-top: 20px;
}
.padding-top-20p {
  padding-top: 15px;
}
.paddint-top-30px {
  padding-top: 30px;
}
.padding-top-320px {
  padding-top: 240px;
}
.padding-top-220px {
  padding-top: 220px;
}
.padding-top-10px {
  padding-top: 6px;
}
.padding-bottom-200px {
  padding-bottom: 100px;
}
.padding-bottom-100px {
  padding-bottom: 100px;
}
.padding-bottom-50px {
  padding-bottom: 50px;
}
.padding-bottom-20px {
  padding-bottom: 10px;
}
.padding-all {
  padding: 20px 55px;
}
.padding-10px {
  padding: 0 10px;
}
.padding-top-bot {
  padding: 10px  0 10px 0;
}
.padding-top-bot-input {
  padding: 3px  0 3px 0;
}
.padding-left {
  padding-left: 500px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fitst_span {
  background-position-y: 50%;
}
.mg-top-270px {
  margin-top: 270px;
}
.mg-left-100px {
  margin-left: 150px;
}
.mg-left-10px {
  margin-left: 3em;
}
.mg-top-100px {
  margin-top: 100px;
}
.mg-top-50px {
  margin-top: 50px;
}
.mg-top-20px {
  margin-top: 15px;
}
.mg-top-15px {
  margin-top: 15px;
}
.mg-bottom {
  margin: 0 0 50px 0;
}
.mg-bottom-10px {
  margin: 0 0 10px 0;
}
.mg-left {
  margin: 0 50px;
}
.mg-left-50px {
  margin-left: 50px;
}
.mg-top-bottom {
  margin: 20px 0 20px 0;
}
.mg-auto {
  margin: 0 auto;
}
.fnt-title {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
.fnt-sz-1-2em {
  font-size: 1.2em;
}
.fnt-sz-3em {
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
}
.fnt-sz-4em {
  font-size: 3.5em;
  font-family: 'Source Sans Pro', sans-serif;
}
.fnt-sz-5em {
  font-size: 4.0em;
  font-family: 'Source Sans Pro', sans-serif;
}
.fnt-sz-2-5em {
  font-size: 2.5em;
  font-family: 'Source Sans Pro', sans-serif;
}
.fnt-sz-1-9em {
  font-size: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
}
.fnt-weight {
  font-weight: bold;
}
.fnt-normal {
  font-weight: normal;
}
.color-title {
  color: #1AD002;
}
.color-white {
  color: white;
}
.color-black {
  color: black;
}
.bg-col1 {
  background-color: #4EB2F7;
}
.bg-col2 {
  background-color: #C049F8;
}
.bg-col3 {
  background-color: #817EFF;
}
.bg-col4 {
  background-color: #F74770;
}
.bg-color-link {
  background-color: white;
}
.bg-img-attention {
  background: url("../img/attention.png") no-repeat right;
  background-position-x: 145px;
}
.bg-link {
  background: url("../img/pluss.png") no-repeat left;
  background-position-x: 10px;
  z-index: 5;
}
.height-30px {
  height: 70px;
}
.border-radius {
  border-radius: 30px;
}
.border-radius_btn {
  border-radius: 5px;
}
.text-align-center {
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
* {
  margin: 0;
  padding: 0;
}
section#nav {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
section#nav ul {
  margin-top: 15px;
}
section#nav ul li {
  display: inline;
  padding: 0 20px 0 0;
}
section#nav ul li a {
  color: black;
}
section#nav ul li a:hover {
  text-decoration: none;
}
section#header {
  background: url("../img/header_img.png") no-repeat top center;
  background-size: cover;
  height: 730px;
}
section#body {
  padding: 3em 0;
}
section#repair {
  background: url("../img/remont_bg.png");
  background-size: cover;
  padding: 3em 0;
}
section#repair a:hover {
  color: #4D4D4D;
  text-decoration: none;
}
section#services {
  padding: 3em 0;
}
section#services .list span {
  display: block;
  background: url("../img/check.png") no-repeat left top;
  padding-left: 40px;
  margin-bottom: 15px;
  height: 50px;
}
section#order {
  padding: 3em 0;
  background: url("../img/orderbg.png") no-repeat;
  background-size: cover;
}
section#footer {
  background: url("../img/logos.png") no-repeat center;
}
section#modal_main .modal_body {
  background: #e8e8e8;
}
section#modal_main .in {
  border: 1px solid #1ad002;
  border-radius: 3px;
  padding-left: 32px;
  background-position-x: 5px;
  color: #858585;
}
section#modal_main input.input1 {
  background: url("../img/name_input.png") no-repeat left;
  background-position-x: 5px;
}
section#modal_main input.input2 {
  background: url("../img/phone_input.png") no-repeat left;
  background-position-x: 5px;
}
section#modal_main input.input3 {
  background: url("../img/addr_input.png") no-repeat left;
  background-position-x: 5px;
}
@media (min-width: 1200px) {
  section#header {
    text-align: left;
  }
  section#header .text_all {
    position: relative;
    top: 220px;
    left: 500px;
  }
  section#header .text_all2 {
    position: relative;
    top: 360px;
    left: 500px;
  }
}
@media (max-width: 1200px) {
  .callback {
    position: absolute;
    left: 90%;
    top: 90%;
    position: fixed;
    z-index: 1;
  }
}
@media (max-width: 1500px) {
  .callback {
    position: absolute;
    left: 95%;
    top: 90%;
    position: fixed;
    z-index: 1;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  section#header .text_all {
    position: static;
    margin-left: 70px;
  }
  section#header .text_all2 {
    position: relative;
    left: 250px;
  }
  .callback {
    position: absolute;
    left: 90%;
    top: 90%;
    position: fixed;
    z-index: 1;
  }
}
@media (max-width: 480px) {
  section#header .text_all2 {
    position: relative;
    top: 100px;
    left: 80px;
  }
  .callback {
    position: absolute;
    left: 85%;
    top: 90%;
    position: fixed;
    z-index: 1;
  }
}
