.max-width-100{max-width: 100%;}
.width-100{width: 100%;}
.width-40px{width: 40px;}

.border-box{  box-sizing: border-box;}

.padding-top-20px{ padding-top:20px;}
.padding-top-320px{ padding-top: 320px;}
.padding-top-10px{padding-top: 10px;}
.padding-bottom-100px{padding-bottom: 100px;}
.padding-bottom-20px{padding-bottom: 20px;}
.padding-all{padding: 10px 70px;}
.padding-10px{padding: 0 10px;}
.paddi

.mg-left-50px{margin-left: 50px;}
.mg-top-100px{ margin-top: 100px; }
.mg-top-50px{margin-top: 50px;}
.mg-bottom{margin: 0 0 20px 0;}
.mg-left{margin: 0 150px;}
.mg-top-15px{margin-top:15px;}
.mg-top-bot{margin:10px 0 10px 0;}


.fnt-sz-3em{ font-size: 3em; font-family: @SS-font;}
.fnt-sz-2-5em{ font-size: 2.5em; font-family: @CUPRUM-font;}
.fnt-sz-2em{ }
.fnt-sz-1-3em{ font-size: 1.3em;}
.fnt-weight{ font-weight: bold;}

.color-title{
  color:#007EE2;
}


.color-white{color:white;}

.bg-col1{background-color: #4EB2F7}
.bg-col2{background-color: #C049F8}
.bg-col3{background-color: #817EFF}
.bg-col4{background-color: #F74770}
.bg-color-link{background-color: white}



.height-30px{height: 70px;}

.border-radius{border-radius: 20px;}
.border-radius_btn{border-radius: 5px;}

.text-align-center{
  text-align: center;
}
